@media only screen and (max-width: 500px) {
	.tasks {
       box-shadow: none;
	   width:95%;
        .section-1{
            padding: 0;
        }
		.section-one,
		.section-two,
		.section-three,
		.section-four {
			width: 100%;
			padding: 20px 8px;
            &:hover{
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
            }
			.section-one-header,
			.section-two-header,
			.section-three-header,
			.section-four-header,
			.due-date,
			.completed,
			.ended {
                p{
                    font-size: 12px !important;
                }
                .person{
                    p{
                        padding-left: 6px;
                    }
                }
				width: 100%;
			}
            button{
                width: 70px;
            }
		}
		section {
            .edit-delete-icons{
                margin:0 0 0 3px !important;
                img{
                    margin-right: 5px !important;
                }
            }
			.remaining-tasks {
				font-size: 12px !important;
			}
			.show-tasks {
				span {
					font-size: 11px !important;
				}
			}
            .date{
                font-size: 12px !important;
            }
            .short-day-name{
            font-size: 12px !important;
            } 
            .day{
                font-size: 10px !important;
            }
		}
	}
}
@media only screen and (max-width: 900px) {
	.tasks {
		margin-bottom: 30px;
		margin-right: 0 !important;
	}
}
@media only screen and (max-width: 1200px) {
	.tasks {
		margin-right: 15px;
	}
}
