@media only screen and (max-width:500px){
	.App{
		.dashboard{
			.content{
				padding: 36px 0 36px 0;
				.charts{
					width:95% !important;
				}
			}
		}
	}
}
@media only screen and (max-width: 800px) {
	.dashboard {
		.content {
			.charts {
				flex-direction: column;
				.deals-graphic {
					height: fit-content;
					width: 100%;
				}
                .tasks-chart{
                    width: 100%;
                    height: fit-content;
                    margin-top: 30px;
                }
			}
		}
	}
}
@media only screen and (max-width: 900px) {
	.content {
		display: flex;
		flex-direction: column;
		.charts {
			width: 100%;
			align-items: center;
			display: flex;
			justify-content: space-between;
			.deals-graphic {
				height: 300px;
				width: 350px;
			}
			.tasks-chart {
				height: 300px;
				margin: 0;
				width: 350px;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.content {
		padding: 12px 12px 36px;
	}
}
