@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

.dashboard{
    width: calc(100% - 226px);
    @include flexLayout(center,initial,column);
    background: $appBackgroundColor;
}
.dashboard.active{
    width: calc(100% - 68px);
}