@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

.contacts{
    width: calc(100% - 226px);
    @include flexLayout(center,initial,column);
    background: $appBackgroundColor;
}
.contacts.active{
    width: calc(100% - 68px);
}