@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.contacts-content {
  @include flexLayout(initial, initial, column);
  height: fit-content;
  padding: 36px;
  width: 100%;

  .add-contact {
    width: 100%;
    @include flexLayout(flex-end, space-between, row);
    margin-bottom: 24px;
    .company-select {
      @include flexLayout(flex-end, center, row);

      span {
        @include styleTag($selectOptionColor, Poppins-Regular, 0.75rem, 0.01em);
      }
      .MuiSelect-root {
        padding: 0 !important;
        span {
          @include styleTag($primaryColor, Poppins-Regular, 0.75rem, 0.01em);
        }
      }
      .MuiFormControl-root {
        margin: 0 !important;
        width: 40px !important;
      }
      .MuiInput-underline::after {
        display: none;
      }
      .MuiInput-underline::before {
        display: none;
      }
      .MuiSvgIcon-root {
        height: 12px;
        left: 15px;
        top: 5px;
        width: 12px;
      }
    }
    button {
      @include styleTag($whiteColor, Poppins-SemiBold, 0.8125rem, 0.01em);
      background-color: $primaryColor;
      box-shadow: $contactsButtonBoxShadow;
      border-radius: 4px;
      width: 160px;
      height: 42px;
      text-transform: capitalize;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $filled-button-hover-background;
        box-shadow: $filled-button-hover-box-shadow;
      }
      &:active {
        background-color: $filled-button-active-background;
        box-shadow: $filled-button-active-box-shadow;
      }
    }
  }
  .table {
    thead.active {
      display: none;
    }
    box-shadow: $tasksBoxShadow;
    tr {
      border-bottom: 1px solid $rowColor;
      width: 100%;
      height: 64px;
      th {
        .td {
          padding-left: 10px;
        }
      }
    }
    td {
      border-bottom: none;
      padding: 0;
      text-align: left;
      &:last-child {
        .td {
          @include flexLayout(center, flex-end, row);
          padding-right: 24px;
        }
      }
      .td {
        @include styleTag($tableGray, Poppins-Regular, 0.8125rem, 0.01em);
      }
    }
    th {
      border-bottom: none;
      padding: 0;
      @include styleTag($darkBlueText, Poppins-Medium, 0.8125rem, 0.01em);
      text-align: left;
      &:last-child {
        text-align: right;
        padding-right: 24px;
      }
      .td {
        @include styleTag($tableBlack, Poppins-Medium, 0.9375rem, 0.01em);
      }
    }
    input {
      padding: 0 0 0 4px;
    }
    .td {
      @include flexLayout(center, flex-start, row);
    }
    .MuiToolbar-regular {
      height: fit-content;
      min-height: 0;
      padding: 0 !important;
    }
    .MuiCheckbox-root {
      color: $checkBoxColor;
    }
    .Mui-checked {
      color: $primaryColor;
    }
    .Mui-selected {
      background-color: $selectedRowColor;
    }
    .MuiTableRow-hover:hover {
      box-shadow: $hoverRowColor;
      background-color: $selectedRowColor;
      cursor: pointer;
    }
    .MuiTableCell-body {
      text-align: left;
    }
    .MuiSvgIcon-root {
      width: 16px;
      height: 16px;
      box-sizing: border-box;
    }
    .MuiIconButton-root {
      &:hover {
        background-color: $appBackgroundColor !important;
      }
    }
  }
}
