$primaryColor:#109CF1;
$yellowColor:#FFB946;
$redColor: #F7685B;
$greenColor:#2ED47A;
$purpleColor:#885AF8;
$blackColor:#192A3E;
$tableBlack:#323C47;
$tableGray:#707683;
$darkBlueText:#334D6E;
$grayColor:#90A0B7;
$whiteColor:#FFFFFF;
$appBackgroundColor:#f5f6f8;
$filled-button-hover-background:#34AFF9;
$filled-button-active-background:#098EDF;
$filled-button-hover-box-shadow:0px 8px 16px rgba(52, 175, 249, 0.2);
$filled-button-active-box-shadow:0px 2px 6px rgba(9, 142, 223, 0.3);
