$primaryColor:#109CF1;
$yellowColor:#FFB946;
$redColor: #F7685B;
$greenColor:#2ED47A;
$purpleColor:#885AF8;
$blackColor:#192A3E;
$tableBlack:#323C47;
$tableGray:#707683;
$darkBlueText:#334D6E;
$grayColor:#90A0B7;
$whiteColor:#FFFFFF;
$appBackgroundColor:#f5f6f8;
