$primaryColor:#109CF1;
$yellowColor:#FFB946;
$redColor: #F7685B;
$redColor2:#fa8b81;
$greenColor:#2ED47A;
$purpleColor:#885AF8;
$blackColor:#192A3E;
$tableBlack:#323C47;
$tableGray:#707683;
$darkBlueText:rgba(51, 77, 110, 0.5);
$grayColor:#90A0B7;
$whiteColor:#FFFFFF;
$appBackgroundColor:#f5f6f8;
$filled-button-hover-background:#34AFF9;
$filled-button-active-background:#098EDF;
$filled-button-hover-box-shadow:0px 8px 16px rgba(52, 175, 249, 0.2);
$filled-button-active-box-shadow:0px 2px 6px rgba(9, 142, 223, 0.3);
$selectedRowColor:#f2f9ff;
$hoverRowColor: 0px 2px 8px rgba(0, 0, 0, 0.1);
$checkBoxColor:#d5d5d5;
$rowColor:#ebeff2;
$selectOptionColor:#6a707e;
$dateColor:#4c5862;
$greenColor2:#69f0a5;
$greyColor2:#334d6e;
$sectionBoxShadow:0px 2px 10px rgba(0, 0, 0, 0.08);
$showMoreButtonHoverColor:#80caf8;
$tasksBoxShadow:0px 6px 18px rgba(0, 0, 0, 0.06);
$sidebarBoxShadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
$sectionHoverBoxShadowOne:0px 0px 16px rgba(0, 0, 0, 0.14);
$contactsButtonBoxShadow:0px 4px 10px rgba(16, 156, 241, 0.24);