@import 'colors.scss';
.App {
	display: flex;
	max-width:1440px;
	margin: 0 auto;
	.container{
		width: calc(100% - 226px);
		background: $appBackgroundColor;
	}
	.container.active{
		width: calc(100% - 68px);
	}
}


