@import "fonts.scss";
@import "colors.scss";

@mixin layout-flex($alignItems, $justify, $direction) {
  align-items: $alignItems;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin styleFont($color, $fontFamily, $fontSize, $letterSpace) {
  color: $color;
  font-family: $fontFamily;
  font-size: $fontSize;
  letter-spacing: $letterSpace;
}
.contacts-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 36px;
  width: 100%;
  .add-contact {
    width: 100%;
    @include layout-flex(flex-end, space-between, row);
    margin-bottom: 24px;
    .company-select {
      @include layout-flex(flex-end, center, row);

      span {
        @include styleFont(#6a707e, Poppins-Regular, 12px, 0.01em);
      }
      .MuiSelect-root {
        padding: 0 !important;
        span {
          @include styleFont($primaryColor, Poppins-Regular, 12px, 0.01em);
        }
      }
      .MuiFormControl-root {
        margin: 0 !important;
        width: 40px !important;
      }
      .MuiInput-underline::after {
        display: none;
      }
      .MuiInput-underline::before {
        display: none;
      }
      .MuiSvgIcon-root {
        height: 12px;
        left: 15px;
        top: 5px;
        width: 12px;
      }
    }
    button {
      @include styleFont($whiteColor, Poppins-SemiBold, 13px, 0.01em);
      background-color: $primaryColor;
      box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
      border-radius: 4px;
      width: 160px;
      height: 42px;
      text-transform: capitalize;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $filled-button-hover-background;
        box-shadow: $filled-button-hover-box-shadow;
      }
      &:active {
        background-color: $filled-button-active-background;
        box-shadow: $filled-button-active-box-shadow;
      }
    }
  }
  .table {
	 overflow: auto;
	 
    thead.active {
      display: none;
    }
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    tr {
      border-bottom: 1px solid #ebeff2;
      width: 100%;
      height: 64px;
    }
    td {
      border-bottom: none;
      padding: 0;
      text-align: left;
	  &:last-child{
		  .td{
			  @include layout-flex(center,flex-end ,row );
			  padding-right: 24px;
		  }
	  }
	  .td{
		  @include styleFont($tableGray,Poppins-Regular ,13px ,0.01em );
	  }
    }
    th {
      border-bottom: none;
      padding: 0;
	  @include styleFont($darkBlueText, Poppins-Medium,13px ,0.01em );
	  text-align:left;
	  &:last-child{
		 text-align: right;
		 padding-right: 24px;
	  }
	  .td {
		@include styleFont($tableBlack, Poppins-Medium, 15px, 0.01em);
	  }
	
  
    }
    input {
      padding: 0 0 0 4px;
    }
    .td {
		@include layout-flex(center, flex-start, row);
      img {
        margin-right: 12px;
      }
    }
    .MuiToolbar-regular {
      height: fit-content;
      min-height: 0;
      padding: 0 !important;
    }
    .MuiCheckbox-root {
      color: #d5d5d5;
    }
    .Mui-checked {
      color: $primaryColor;
    }
    .Mui-selected {
      background-color: #f2f9ff;
    }
    .MuiTableRow-hover:hover {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      background-color: #f2f9ff;
      cursor: pointer;
    }
    .MuiTableCell-body {
      text-align: left;
    }
    .MuiSvgIcon-root {
      width: 16px;
      height: 16px;
      box-sizing: border-box;
    }
    .MuiIconButton-root {
      &:hover {
        background-color: $appBackgroundColor !important;
      }
    }
  }
}
