@import 'fonts.scss';
@import 'colors.scss';
@mixin flex($alignItems, $justify, $direction) {
	align-items: $alignItems;
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
}
@mixin stylesFont($color, $fontFamily, $fontSize, $letterSpace) {
	color: $color;
	font-family: $fontFamily;
	font-size: $fontSize;
	letter-spacing: $letterSpace;
}
.deals-graphic {
	background-color: $whiteColor;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	height: 344px;
	width: 445px;
	@include flex(flex-start, flex-start, column);
	#SvgjsLine1048 {
		stroke-dasharray: 7;
	}
	svg {
		cursor: pointer !important;
	}
	.apexcharts-xaxistooltip {
		display: none !important;
	}
	.apexcharts-tooltip.apexcharts-active {
		background: $blackColor !important;
		border-radius: 15px !important;
		height: 24px !important;
		opacity: 0.6 !important;
		width: 46px !important;
		.apexcharts-tooltip-y-group {
			height: 100%;
			padding: 0 !important;
			width: 100%;
			@include flex(center, center, row);
		}
		.apexcharts-tooltip-series-group {
			height: 100% !important;
			justify-content: center !important;
			padding: 0 !important;
			width: 100% !important;
			.apexcharts-tooltip-text-value {
				margin: 0 !important;
				@include stylesFont(
					$whiteColor,
					Poppins-Medium,
					11px !important,
					0.01em !important
				);
			}
			.apexcharts-tooltip-marker {
				display: none !important;
			}
		}
	}
	.area-chart-tasks {
		border-bottom: 1px solid #ebeff2;
		height: 50px;
		margin-bottom: 16px;
		padding: 0 22px;
		width: 100%;
		@include flex(center, space-between, row);
		p {
			@include stylesFont($blackColor, Poppins-Medium, 15px, 0.01em);
		}
		.show-chart {
			@include flex(flex-end, none, row);
			.show {
				@include stylesFont(#6a707e, Poppins-Regular, 12px, 0.01em);
			}
			span {
				@include stylesFont($primaryColor, Poppins-Regular, 12px, 0.01em);
			}
		}
	}
	.MuiSelect-root {
		padding: 0 !important;
		span {
			@include stylesFont($primaryColor, Poppins-Regular, 12px, 0.01em);
		}
	}
	.makeStyles-formControl-6 {
		margin: 0;
		min-width: 0 !important;
		width: 90px !important;
	}
	.jss6 {
		min-width: 0 !important;
		width: 90px !important;
	}
	.MuiFormControl-root {
		margin: 0 !important;
	}
	.MuiInput-underline::after {
		display: none;
	}
	.MuiInput-underline::before {
		display: none;
	}
	.jss7 {
		margin: 0 !important;
	}
	.makeStyles-selectEmpty-7 {
		margin: 0 !important;
	}
	.MuiSvgIcon-root {
		height: 12px;
		left: 65px;
		top: 5px;
		width: 12px;
	}
}