@font-face {
	font-family: Poppins-Medium;
	src: url(../fonts/Poppins-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: Poppins-Regular;
	font-style: normal;
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: Poppins-SemiBold;
	font-style: normal;
	src: url(../fonts/Poppins-SemiBold.ttf);
	font-weight: 600;
	
}
@font-face{
	font-family: Open-Sans-SemiBold;
	font-style: normal;
	src: url(../fonts/OpenSans-SemiBold.ttf);
	font-weight: 600;
}
