@import "fonts.scss";

.navigation {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: space-between;
	width: 100%;
    
	button {
		background: none;
		border: none;
		outline: none;
	}
	.search {
		align-items: center;
		display: flex;
		padding-left: 36px;
		height: 100%;
		.search-button {
			cursor: pointer;
			margin-right: 12px;
		}
		input {
			border: none;
			color: #90a0b7;
			font-family: Poppins-Regular;
			font-size: 12px;
			letter-spacing: 0.01em;
			outline: none;
		}
	}
	.notification-button {
		cursor: pointer;
		padding-right: 36px;
	}
}
