@import 'fonts.scss';
@import 'colors.scss';
@mixin flexLayout($justify) {
	align-items: center;
	display: flex;
	justify-content: $justify;
}

.navigation {
	background-color: $whiteColor;
	border-bottom: 1px solid #ebeff2;
	height: 60px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 9;
	@include flexLayout(space-between);
	.MuiIconButton-root {
		margin-right: 24px;
	}
	button {
		background: none;
		border: none;
		cursor: pointer;
		outline: none;
	}
	.search {
		height: 100%;
		padding-left: 36px;
		@include flexLayout(none);
		.search-button {
			cursor: pointer;
			margin-right: 12px;
		}
		input {
			border: none;
			color: #90a0b7;
			font-family: Poppins-Regular;
			font-size: 12px;
			letter-spacing: 0.01em;
			outline: none;
		}
	}
}