@import 'fonts.scss';
@import 'colors.scss';

.section-two {
	align-items: center;
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 24px;
	padding: 16px 0;
	transition: all 0.3s ease-in-out;
	width: 95%;
	&:hover {
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
		cursor: pointer;
	}
	.section-two-header {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;
		width: 95%;
		p {
			color: #323c47;
			font-family: Poppins-Medium;
			font-size: 15px;
			letter-spacing: 0.01em;
		}
		span {
			color: #90a0b7;
			font-family: Poppins-Medium;
			font-size: 12px;
			letter-spacing: 0.01em;
		}
	}
	.due-date {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 20px;
		width: 95%;
		span {
			color: #4c5862;
			font-family: Poppins-Regular;
			font-size: 13px;
			letter-spacing: 0.01em;
			opacity: 0.5;
		}
		p {
			color: #4c5862;
			font-family: Poppins-Regular;
			font-size: 13px;
			letter-spacing: 0.01em;
			padding-left: 5px;
		}
	}
	.completed {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 95%;
		.person {
			align-items: center;
			display: flex;
			justify-content: center;
			p {
				color: #707683;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				padding-left: 12px;
			}
		}
		button {
			background: #2ed47a;
			border: none;
			border-radius: 4px;
			color: $whiteColor;
			cursor: pointer;
			font-family: Poppins-Medium;
			font-size: 11px;
			height: 22px;
			letter-spacing: 0.02em;
			outline: none;
			text-align: center;
			transition: background 0.3s ease-in-out;
			width: 84px;
			&:hover {
				background-color: #69f0a5;
			}
		}
	}
}
