@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

.section-four {
  @include flexLayout(center, center, column);
  border-radius: 4px;
  box-shadow: $sectionBoxShadow;
  cursor: pointer;
  margin-top: 24px;
  padding: 16px 0;
  transition: all 0.3s ease-in-out;
  width: 95%;
  &:hover {
    box-shadow: $sectionHoverBoxShadowOne;
    cursor: pointer;
  }
  .section-four-header {
    @include flexLayout(flex-start, space-between, row);
    margin-bottom: 7px;
    width: 95%;
    p {
      @include styleTag($tableBlack, Poppins-Medium, 0.9375rem, 0.01em);
    }
    span {
      @include styleTag($grayColor, Poppins-Medium, 0.75rem, 0.01em);
    }
  }
  .due-date {
    @include flexLayout(center, flex-start, row);
    margin-bottom: 20px;
    width: 95%;
    span {
      @include styleTag($dateColor, Poppins-Regular, 0.8125rem, 0.01em);
      opacity: 0.5;
    }
    p {
      @include styleTag($dateColor, Poppins-Regular, 0.8125rem, 0.01em);
      padding-left: 5px;
    }
  }
  .completed {
    @include flexLayout(center, space-between, row);
    width: 95%;
    .person {
      @include flexLayout(center, center, row);
      p {
        @include styleTag($tableGray, Poppins-Regular, 0.8125rem, 0.01em);
        padding-left: 12px;
      }
    }
    button {
      background: $greenColor;
      border: none;
      border-radius: 4px;
      @include styleTag($whiteColor, Poppins-Medium, 0.6875rem, 0.02em);
      cursor: pointer;
      height: 22px;
      outline: none;
      text-align: center;
      transition: background 0.3s ease-in-out;
      width: 84px;
      &:hover {
        background-color: $greenColor2;
      }
    }
  }
}