@import 'fonts.scss';
@import 'colors.scss';
@mixin layOutFlex($alignItems, $justify, $direction) {
	display: flex;
	align-items: $alignItems;
	justify-content: $justify;
	flex-direction: $direction;
}
@mixin styledFont($color, $fontFamily, $fontSize, $letterSpace) {
	color: $color;
	font-family: $fontFamily;
	font-size: $fontSize;
	letter-spacing: $letterSpace;
}
.section-four {
	@include layOutFlex(center, center, column);
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	cursor: pointer;
	margin-top: 24px;
	padding: 16px 0;
	transition: all 0.3s ease-in-out;
	width: 95%;
	&:hover {
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
		cursor: pointer;
	}
	.section-four-header {
		@include layOutFlex(flex-start, space-between, row);
		margin-bottom: 7px;
		width: 95%;
		p {
			@include styledFont(#323c47, Poppins-Medium, 15px, 0.01em);
		}
		span {
			@include styledFont(#90a0b7, Poppins-Medium, 12px, 0.01em);
		}
	}
	.due-date {
		@include layOutFlex(center, flex-start, row);
		margin-bottom: 20px;
		width: 95%;
		span {
			@include styledFont(#4c5862, Poppins-Regular, 13px, 0.01em);
			opacity: 0.5;
		}
		p {
			@include styledFont(#4c5862, Poppins-Regular, 13px, 0.01em);
			padding-left: 5px;
		}
	}
	.completed {
		@include layOutFlex(center,space-between,row);
		width: 95%;
		.person {
			@include layOutFlex(center,center ,row );
			p {
				@include styledFont(#707683,Poppins-Regular ,13px ,0.01em);
				padding-left: 12px;
			}
		}
		button {
			background: #2ed47a;
			border: none;
			border-radius: 4px;
			@include styledFont($whiteColor, Poppins-Medium,11px ,0.02em);
			cursor: pointer;
			height: 22px;
			outline: none;
			text-align: center;
			transition: background 0.3s ease-in-out;
			width: 84px;
			&:hover {
				background-color: #69f0a5;
			}
		}
	}
}