@import 'fonts.scss';
@import 'colors.scss';
@mixin flexLayOut($alignItems,$justify,$direction){
	display: flex;
	align-items: $alignItems;
	justify-content: $justify;
	flex-direction: $direction;
}
@mixin fontStyled($color,$fontFamily,$fontSize,$letterSpace){
	color: $color;
	font-family: $fontFamily;
	font-size: $fontSize;
	letter-spacing: $letterSpace;
}
.section-three {
	@include flexLayOut(center,center ,column);
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	cursor: pointer;
	margin-top: 24px;
	padding: 16px 0;
	transition: all 0.3s ease-in-out;
	width: 95%;
	&:hover {
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
		cursor: pointer;
	}
	.section-three-header {
		@include flexLayOut(flex-start,space-between ,row);
		margin-bottom: 7px;
		width: 95%;
		p {
			@include fontStyled(#323c47,Poppins-Medium ,15px ,0.01em);
		}
		span {
			@include fontStyled(#90a0b7,Poppins-Medium ,12px ,0.01em);
		}
	}
	.due-date {
		@include flexLayOut(center,flex-start ,row);
		margin-bottom: 20px;
		width: 95%;
		span {
			@include fontStyled(#4c5862,Poppins-Regular ,13px ,0.01em);
			opacity: 0.5;
		}
		p {
			@include fontStyled(#4c5862,Poppins-Regular ,13px ,0.01em);
			padding-left: 5px;
		}
	}
	.ended {
		@include flexLayOut(center,space-between ,row );
		width: 95%;
		.person {
			@include flexLayOut(center,center ,row);
			p {
				@include fontStyled(#707683,Poppins-Regular ,13px ,0.01em);
				padding-left: 12px;
			}
		}
		.edit-delete-person {
			@include flexLayOut(center,center ,row);
			.edit-delete-icons {
				margin-right: 10px;
				img {
					cursor: pointer;
					margin-right: 10px;
				}
			}
			button {
				background: #f7685b;
				border: none;
				border-radius: 4px;
				@include fontStyled($whiteColor,Poppins-Medium ,11px ,none);
				height: 22px;
				outline: none;
				transition: background 0.3s ease-in-out;
				width: 84px;
				&:hover {
					background-color: #fa8b81;
				}
			}
		}
	}
}