@import 'fonts.scss';
@import 'colors.scss';
@mixin flex($alignItems, $justify, $direction) {
	align-items: $alignItems;
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
}

@mixin styleTag($color, $fontFamily, $fontSize, $letterSpace) {
	color: $color;
	font-family: $fontFamily;
	font-size: $fontSize;
	letter-spacing: $letterSpace;
}
.section-two {
	border-radius: 4px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
	cursor: pointer;
	margin-top: 24px;
	padding: 16px 0;
	transition: all 0.3s ease-in-out;
	width: 95%;
	@include flex(center, center, column);
	&:hover {
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
		cursor: pointer;
	}
	.section-two-header {
		margin-bottom: 7px;
		width: 95%;
		@include flex(flex-start, space-between, row);
		p {
			@include styleTag(#323c47, Poppins-Medium, 15px, 0.01em);
		}
		span {
			@include styleTag(#90a0b7, Poppins-Medium, 12px, 0.01em);
		}
	}
	.due-date {
		margin-bottom: 20px;
		width: 95%;
		@include flex(center, flex-start, row);
		span {
			opacity: 0.5;
			@include styleTag(#4c5862, Poppins-Regular, 13px, 0.01em);
		}
		p {
			padding-left: 5px;
			@include styleTag(#4c5862, Poppins-Regular, 13px, 0.01em);
		}
	}
	.completed {
		width: 95%;
		@include flex(center, space-between, row);
		.person {
			@include flex(center, center, row);
			p {
				padding-left: 12px;
				@include styleTag(#707683, Poppins-Regular, 13px, 0.01em);
			}
		}
		button {
			background: #2ed47a;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			height: 22px;
			outline: none;
			text-align: center;
			transition: background 0.3s ease-in-out;
			width: 84px;
			@include styleTag($whiteColor, Poppins-Medium, 11px, 0.02em);
			&:hover {
				background-color: #69f0a5;
			}
		}
	}
}