@import 'fonts.scss';
@import 'colors.scss';
.tasks {
	align-items: center;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
	section {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
		.section-one {
			display: flex;
			flex-direction: column;
			width: 95%;
			.section-one-header {
				align-items: center;
				display: flex;
				justify-content: space-between;
				padding-bottom: 16px;
				.remaining-tasks {
					color: #334d6e;
					font-family: Poppins-Medium;
					font-size: 13px;
					letter-spacing: 0.01em;
				}
				.show-tasks {
					align-items: center;
					display: flex;
					justify-content: center;
					.show {
						color: #6a707e;
						font-family: Poppins-Regular;
						font-size: 12px;
						letter-spacing: 0.01em;
					}
				}
			}
			.progress-bar {
				background-color: #ebeff2;
				height: 4px;
			}
			.date {
				color: #192a3e;
				font-family: Poppins-Medium;
				font-size: 15px;
				letter-spacing: 0.01em;
				padding-bottom: 47px;
				padding-top: 20px;
			}
			.week-days {
				align-items: center;
				display: flex;
				justify-content: space-between;
				div {
					align-items: center;
					display: flex;
					flex-direction: column;
					justify-content: center;
					.short-day-name {
						color: #334d6e;
						font-family: Poppins-Medium;
						font-size: 13px;
						letter-spacing: 0.01em;
					}
					.day {
						align-items: center;
						border-radius: 50%;
						color: #4c5862;
						display: flex;
						font-family: Poppins-Regular;
						font-size: 12px;
						height: 24px;
						justify-content: center;
						letter-spacing: 0.01em;
						width: 24px;
					}
					.day-1 {
						background-color: $primaryColor;
						color: $whiteColor;
					}
				}
				.monday {
					p {
						color: $primaryColor;
					}
				}
			}
		}
	}
	.section-1 {
		border-bottom: 1px solid #ebeff2;
		padding-bottom: 27px;
		padding-top: 16px;
	}
	.section-two {
		align-items: center;
		border-radius: 4px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 24px;
		padding: 16px 0;
		width: 95%;
		.section-two-header {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			margin-bottom: 7px;
			width: 95%;
			p {
				color: #323c47;
				font-family: Poppins-Medium;
				font-size: 15px;
				letter-spacing: 0.01em;
			}
			span {
				color: #90a0b7;
				font-family: Poppins-Medium;
				font-size: 12px;
				letter-spacing: 0.01em;
			}
		}
		.due-date {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 20px;
			width: 95%;
			span {
				color: #4c5862;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				opacity: 0.5;
			}
			p {
				color: #4c5862;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				padding-left: 5px;
			}
		}
		.completed {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 95%;
			.person {
				align-items: center;
				display: flex;
				justify-content: center;
				p {
					color: #707683;
					font-family: Poppins-Regular;
					font-size: 13px;
					letter-spacing: 0.01em;
					padding-left: 12px;
				}
			}
			button {
				background: #2ed47a;
				border: none;
				border-radius: 4px;
				color: $whiteColor;
				cursor: pointer;
				font-family: Poppins-Medium;
				font-size: 11px;
				height: 22px;
				letter-spacing: 0.02em;
				outline: none;
				text-align: center;
				transition: background 0.3s ease-in-out;
				width: 84px;
				&:hover {
					background-color: #69f0a5;
				}
			}
		}
	}
	.section-three {
		align-items: center;
		border-radius: 4px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 24px;
		padding: 16px 0;
		width: 95%;
		.section-three-header {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			margin-bottom: 7px;
			width: 95%;
			p {
				color: #323c47;
				font-family: Poppins-Medium;
				font-size: 15px;
				letter-spacing: 0.01em;
			}
			span {
				color: #90a0b7;
				font-family: Poppins-Medium;
				font-size: 12px;
				letter-spacing: 0.01em;
			}
		}
		.due-date {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 20px;
			width: 95%;
			span {
				color: #4c5862;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				opacity: 0.5;
			}
			p {
				color: #4c5862;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				padding-left: 5px;
			}
		}
		.ended {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 95%;
			.person {
				align-items: center;
				display: flex;
				justify-content: center;
				p {
					color: #707683;
					font-family: Poppins-Regular;
					font-size: 13px;
					letter-spacing: 0.01em;
					padding-left: 12px;
				}
			}
			.edit-delete-person {
				align-items: center;
				display: flex;
				justify-content: center;
				.edit-delete-icons {
					margin-right: 10px;
					img {
						cursor: pointer;
						margin-right: 10px;
					}
				}
				button {
					background: #f7685b;
					border: none;
					border-radius: 4px;
					color: $whiteColor;
					cursor: pointer;
					cursor: pointer;
					font-family: Poppins-Medium;
					font-size: 11px;
					height: 22px;
					outline: none;
					transition: background 0.3s ease-in-out;
					width: 84px;
					&:hover {
						background-color: #fa8b81;
					}
				}
			}
		}
	}
	.section-four {
		align-items: center;
		border-radius: 4px;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 24px;
		padding: 16px 0;
		width: 95%;
		.section-four-header {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			margin-bottom: 7px;
			width: 95%;
			p {
				color: #323c47;
				font-family: Poppins-Medium;
				font-size: 15px;
				letter-spacing: 0.01em;
			}
			span {
				color: #90a0b7;
				font-family: Poppins-Medium;
				font-size: 12px;
				letter-spacing: 0.01em;
			}
		}
		.due-date {
			align-items: center;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 20px;
			width: 95%;
			span {
				color: #4c5862;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				opacity: 0.5;
			}
			p {
				color: #4c5862;
				font-family: Poppins-Regular;
				font-size: 13px;
				letter-spacing: 0.01em;
				padding-left: 5px;
			}
		}
		.completed {
			align-items: center;
			display: flex;
			justify-content: space-between;
			width: 95%;
			.person {
				align-items: center;
				display: flex;
				justify-content: center;
				p {
					color: #707683;
					font-family: Poppins-Regular;
					font-size: 13px;
					letter-spacing: 0.01em;
					padding-left: 12px;
				}
			}
			button {
				background: #2ed47a;
				border: none;
				border-radius: 4px;
				color: $whiteColor;
				cursor: pointer;
				font-family: Poppins-Medium;
				font-size: 11px;
				height: 22px;
				letter-spacing: 0.02em;
				outline: none;
				text-align: center;
				transition: background 0.3s ease-in-out;
				width: 84px;
				&:hover {
					background-color: #69f0a5;
				}
			}
		}
	}
	a {
		color: $primaryColor;
		font-family: Poppins-SemiBold;
		font-size: 13px;
		letter-spacing: 0.01em;
		margin-top: 15px;
		padding-bottom: 14px;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: #80caf8;
		}
	}
	.MuiSelect-root{
		padding: 0 !important;
		width: fit-content;
		span{
			color:$primaryColor;
			font-size: 12px;
			font-family: Poppins-Regular;
			letter-spacing: 0.01em;
		}
	}
	.makeStyles-formControl-1 {
		margin: 0;
	}
	.MuiInput-underline::after {
		display: none;
	}
	.MuiInput-underline::before {
		display: none;
	}
	.makeStyles-selectEmpty-2 {
		margin: 0;
	}
	.MuiSvgIcon-root {
		width: 12px;
		height: 12px;
		position: static;
		margin-left: 5px;
	}
}
