@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";

.tasks {
  @include flexLayout(center, center, column);
  background-color: $whiteColor;
  border-radius: 4px;
  box-shadow: $tasksBoxShadow;
  height: 100%;
  margin-right: 30px;
  width: 100%;
  section {
    @include flexLayout(center, center, row);
    width: 100%;
  }
  a {
    @include styleTag($primaryColor, Poppins-SemiBold, 0.8125rem, 0.01em);
    margin-top: 15px;
    padding-bottom: 14px;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $showMoreButtonHoverColor;
    }
  }
  .MuiSelect-root {
    padding: 0 !important;
    span {
      @include styleTag($primaryColor, Poppins-Regular, 0.75rem, 0.01em);
    }
  }
  .jss1 {
    width: 80px !important;
    min-width: 0 !important;
  }
  .jss2 {
    margin: 0 !important;
  }
  .MuiFormControl-root {
    margin: 0 !important;
    width: 80px !important;
    min-width: 0 !important;
  }
  .MuiInput-underline::after {
    display: none;
  }
  .MuiInput-underline::before {
    display: none;
  }
  .MuiInputBase-root {
    margin: 0 !important;
  }
  .MuiSvgIcon-root {
    height: 12px;
    left: 65px;
    top: 5px;
    width: 12px;
  }
}