@import 'fonts.scss';
@import 'colors.scss';

.tasks-chart {
	align-items: center;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	.donut {
		.apexcharts-canvas {
			svg {
				foreignObject {
					.apexcharts-legend {
						.apexcharts-legend-series {
							margin-bottom: 10px !important;
							.apexcharts-legend-marker {
								height: 10px !important;
								position: relative;
								width: 10px !important;
							}
							.apexcharts-legend-marker::after {
								background-color: #fff !important;
								border-radius: 50%;
								content: '';
								height: 6px !important;
								position: absolute !important;
								right: 20%;
								top: 2px;
								width: 6px !important;
							}
						}
					}
				}
			}
		}
	}
	.donut-chart-tasks {
		align-items: center;
		border-bottom: 1px solid #ebeff2;
		display: flex;
		height: 50px;
		justify-content: space-between;
		margin-bottom: 33px;
		padding: 0 24px;
		width: 100%;
		p {
			color: #192a3e;
			font-family: Poppins-Medium;
			font-size: 15px;
			letter-spacing: 0.01em;
		}
		.show-chart {
			align-items: center;
			display: flex;

			p {
				color: #6a707e;
				font-family: Poppins-Regular;
				font-size: 12px;
				letter-spacing: 0.01em;
			}
			span {
				color: $primaryColor;
				font-family: Poppins-Regular;
				font-size: 12px;
				letter-spacing: 0.01em;
			}
		}
	}
}
