@import 'fonts.scss';
@import 'colors.scss';
.tasks {
	align-items: center;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	margin-right: 30px;
	width: 100%;
	section {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
		
	}
	
	a {
		color: $primaryColor;
		font-family: Poppins-SemiBold;
		font-size: 13px;
		letter-spacing: 0.01em;
		margin-top: 15px;
		padding-bottom: 14px;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: #80caf8;
		}
	}
	.MuiSelect-root {
		padding: 0 !important;
		span {
			color: $primaryColor;
			font-family: Poppins-Regular;
			font-size: 12px;
			letter-spacing: 0.01em;
		}
	}
	.jss1{
		width: 80px !important;
		min-width: 0 !important;
	}
	.jss2{
		
		margin: 0 !important;
	}
	.MuiFormControl-root {
		margin: 0 !important;
		width: 80px !important;
		min-width: 0 !important;
	}
	.MuiInput-underline::after {
		display: none;
	}
	.MuiInput-underline::before {
		display: none;
	}
	.MuiInputBase-root{
		margin: 0 !important;
	}
	.MuiSvgIcon-root {
		height: 12px;
		left: 65px;
		top: 5px;
		width: 12px;
	}
}
