@media only screen and (max-width: 626px) {
  .modal {
    .fade {
      overflow: auto;
      .form {
        overflow: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        column-gap: 0px;
        row-gap: 10px;
        .MuiFormControl-root{
          width:100%;
        }
      }
      .buttons{
        button{
            width: 110px;
            height: 42px;
            &:nth-child(1){
             margin: 3px;
            }
            &:nth-child(2){
              margin:3px;
            }
          }
      }
     
    }
  }
}
