@media only screen and (max-width:500px){
    .deals-graphic{
        .area-chart-tasks{
            padding: 0 3px 0 13px;
        }
        .show-chart{
            span{
                font-size: 12px !important;
            }
        }
    }
}
@media only screen and (max-width:1200px){
    .deals-graphic{
        width: 400px;
    }
}