@import "../mixins";

@media only screen and (max-width: 500px) {
  #root {
    .App {
      .side-bar {
        height: 100vh;
        left: -100%;
        position: fixed;
        overflow: auto;
        top: 60px;
        height: calc(100vh - 60px);
        width: 100%;
        transition: left 0.4s ease-in-out;
        .heading {
          @include flexLayout(center, center, row);
          padding: 0;
          .kit {
            display: inline-block;
          }
        }
        .profile {
          padding: 36px 0 0 0;
          .profile-info {
            display: block;
          }
        }
        .side-lists {
          @include flexLayout(center, center, column);
          .settings {
            border: none;
          }
          li {
            width: 150px;
            margin-bottom: 30px;
            @include flexLayout(center, flex-start, row);
            p {
              display: block;
            }
          }
        }
      }
      .side-bar.show {
        left: 0;
      }
    }
  }
}
@media only screen and (max-width: 1060px) {
  .App .side-bar {
    width: 68px;
    .kit {
      display: none;
    }
    .profile {
      @include flexLayout(center, center, row);
      padding: 12px 0 0 0;
      .profile-image {
        margin: 0;
      }
    }
    .profile-info {
      display: none;
    }
    .side-lists {
      li {
        justify-content: center;
        padding: 0;
        p {
          display: none;
        }
        .list-images {
          margin: 0;
        }
      }
    }
    .toggle-side-bar {
      display: none;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .side-bar {
    width: 200px;
    .heading {
      padding: 0 0 0 10px;
    }
    .profile {
      padding: 24px 10px 10px;
      .profile-image {
        height: 38px;
        margin-right: 8px;
        width: 38px;
      }
    }
    .side-lists {
      li {
        padding: 0 0 0 10px;
      }
    }
    .toggle-side-bar {
      padding: 0 12px 0 12px;
    }
  }
}