@media only screen and (max-width:1060px){
   .App .side-bar{
        width:68px;
        .kit{
            display: none;
        }
       .profile{
           padding: 12px 0 0 0;
           justify-content: center;
           align-items: center;
           .profile-image{
               margin: 0;
           }
       }
        .profile-info{
            display: none;
        }
        .side-lists{
            li{
                padding: 0;
                justify-content: center;
                p{
                  display: none;
                }
                .list-images{
                    margin: 0;
                }
            }
        }
        .toggle-side-bar{
           display: none;
        }
    }
}
@media only screen and (max-width:1200px){
    .side-bar{
        width: 200px;
        .heading {
            padding:0 0 0 10px;
        }
        .profile{
            padding:24px 10px 10px;
            .profile-image{
                width: 38px;
                height: 38px;
                margin-right: 8px;
            }
        }
        .side-lists{
            li{
                padding:0 0 0 10px;
            }
        }
        .toggle-side-bar{
            padding: 0 12px 0 12px;
        }
    }
}